@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    font-family: "Courier";
    background-color: rgb(31, 30, 30);
display: flex;


}

.card {
    display: flex;

    width: 400px;
    height: 300px;
    background-color: #fff;
    margin: auto;
    flex-direction: column;
    padding: 5px 5px 35px 5px;
}

.descriptions {
    display: flex;
    flex-direction: column;
font-size: 14px;
}

.logo {
    width: 50px;
    object-fit: contain;
}

.btn {
    display: flex;
    flex-direction: column;
    border: none;
    background-color: #999;
    padding: 5px;
}

.inputs {
    display: flex;
    flex-direction: column;
    margin-top: 12px;


}

.footer {
    margin: auto;
    margin-bottom: 25px;
}

.descriptions-inputs-container {
    display: flex;
    justify-content: space-between;
}

input {
    border: none;
    border-bottom: 1px solid #999;
    margin: 5px;
    width: 170px;
}

h1 {
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
}